body {
    background-color: #ddd;
    font-family: "Open Sans", "Ubuntu", "Arial", "FreeSans", sans-serif;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.wrapper {
    max-width: 1200px;
    margin: 66px auto;
    display: flex;
}

.visually-hidden {
	position: absolute;
	overflow: hidden;
	clip: rect(0 0 0 0);
	height: 1px;
	width: 1px;
	margin: -1px;
	padding: 0;
	border: 0;
}

.threads,
.posts,
.user_info,
.panel_stats ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.thread,
.post {
    display: flex;
    padding: 12px;
    margin-bottom: 8px;
    background: #fefefe;
}

.thread__stats {
    display: flex;
    margin-right: 22px;
}

.thread__views,
.thread__answers {
    width: 102px;
    height: 66px;
    text-align: center;
    padding-top: 12px;
}

.thread__views {
    background-color: #ecf0f1;
    color: #445f7a;
}

.thread__answers {
    background-color: #3498db;
    color: #fff;
}

.thread__count-data {
    display: block;
    font-size: 24px;
    margin-bottom: 8px;
}

.thread__count-pad {
    font-size: 16px;
}

.thread__heading {
    margin: 8px 0 0 0;
    padding: 0;
}

.thread__heading a {
    color: #1a6a9b;
    font-size: 26px;
}

.thread__heading a:hover {
    color: #3498db;
}

.thread__info {
    display: block;
    font-size: 18px;
    margin-top: 8px;
}

.post {
    display: block;
}

.post:first-child {
    background-color: #ccc;
}

.post__heading {
    margin: 0 0 5px 0;
    padding: 12px 52px 12px 20px;
    background-color: #3498db;
    font-size: 34px;
    color: #fff;
}

.post__info {
    font-size: 16px;
    margin-bottom: 12px;
}

.post__content {
    font-size: 22px;
    font-weight: 400;
    line-height: 1.5;
}

.posts li {
    padding: 20px;
}

.form_answer #post_content {
    width: calc(100% - 40px);
    height: 200px;
    padding: 20px;
}

.btn_submit,
.btn_answer {
    padding: 14px 18px;
    font-weight: bold;
    background-color: #27ae60;
    cursor: pointer;
    color: #fff;
    border: 0;
}

.btn_submit {
    display: block;
    margin-top: 8px;
}

.btn_submit:hover,
.btn_answer:hover {
    background-color: #2ecc71;
}

.user_info {
    padding: 20px;
    background-color: #fff;
}

.user_info ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.user_info label {
    width: 200px;
    margin-bottom: 8px;
    display: inline-block;
    font-weight: 600;
}

.content {
    width: 75%;
    margin-right: 8px;
}

.panel {
    width: 25%;
}

.panel_stats ul {
    display: flex;
    flex-wrap: wrap;
}

.panel_stats li {
    width: 50%;
    padding: 18px 0;
    color: #fff;
    text-align: center;
    font-size: 26px;
}

.panel_stats li:nth-child(1) {
    background: #1abc9c;
}

.panel_stats li:nth-child(2) {
    background: #2ecc71;
}

.panel_stats li:nth-child(3) {
    background: #f1c40f;
}

.panel_stats li:nth-child(4) {
    background: #e67e22;
}

.panel_stats li span {
    display: block;
    font-size: 32px;
    margin-bottom: 8px;
}

.top_users {
    padding: 24px 0;
    background-color: #fff;
    margin-top: 8px;
    font-size: 20px;
}

.top_users__heading {
    font-size: 22px;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
    margin: 0;
}
